@model Tuple<List<Role>, SITSAS.Models.AccessRights>
<script>
    function NewRole() {
        $('#popUpContent').empty();
        @Html.Raw("$.ajax({ url: '/Home/CreateUpdateRole?', data: 'json', type: 'GET', data: 'IsPart=true', cache: false, success: function (result) { $('#popUpContent').empty().append(result); } });")
         @Html.Raw("Metro.dialog.open('#popUp');")
    }
    function EditRole(id) {
        $('#popUpContent').empty();
        @Html.Raw("$.ajax({ url: '/Home/CreateUpdateRole?', data: 'json', type: 'GET', data: 'ID=' + id + '&IsPart=true', cache: false, success: function (result) { $('#popUpContent').empty().append(result); } });")
         @Html.Raw("Metro.dialog.open('#popUp');")
    }
</script>
<h1 class="text-light">User Roles<span class="mif-user-check place-left" style="padding-right:5px;"></span></h1>
<hr class="thin bg-grayLighter">
@if (Model.Item2.CanAdd)
{
    <button class="image-button warning" onclick="NewRole();">
        <span class="mif-clipboard icon"></span>
        <span class="caption">Create</span>
    </button>
  
}
@if (Model.Item2.CanView == true)
{
    if (Model.Item1.Count == 0)
    {
        <div class="alert alert-info" role="alert">
            No Roles Found
        </div>
    }
    else
    {
        <table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">

            <thead>
                <tr>
                    <th style="width:75%;">
                        Role
                    </th>
                    <th style="width:25%;">

                    </th>
                    <th style="width:25%;">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Role role in Model.Item1)
                {
                    <tr>
                        <td>
                            @role.RoleName
                        </td>
                        <td>
                            @if (Model.Item2.CanEdit == true)
                            {
                                <button class="image-button warning" onclick="window.location.href = '/Roles/AddUsersToRole?RoleID=@role.RoleID';">
                                    <span class="mif-user-plus icon"></span>
                                    <span class="caption">Add Users</span>
                                </button>
                            }
                        </td>
                        <td>
                            @if (Model.Item2.CanEdit)
                        {
                                <button class="image-button warning" onclick="EditRole('@role.RoleID')">
                                    <span class="mif-pencil icon"></span>
                                    <span class="caption">Edit</span>
                                </button>
                            }
                            @*<a class="image-button alert"><span class="icon mif-bin"></span> Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <table></table>
    }
}
