@model SITSAS.Models.AnswersModel
@{bool AllowSave = true; }
@if (Model.question.Answers.Count > 0)
{
    if (Model.question.Answers.Where(x => x.Result_Answers.Count > 0).ToList().Count > 0)
    {
        //if has been answered!!!!
        AllowSave = false;
    }
}
@if (Model.question.EndDate < DateTime.Now)
{
    AllowSave = false;
}

<button class="image-button warning" onclick="window.location.href = '/Home/CreateUpdateQuestion?ID=@Model.question.ID';">
    <span class="mif-pencil icon"></span>
    <span class="caption">Edit Question</span>
</button>
<button class="image-button warning" onclick="window.location.href = '/Home/Questions';">
    <span class="mif-question icon"></span>
    <span class="caption">Questions</span>
</button>
<hr class="thin bg-grayLighter">

@* Question Summary *@
<div class="grid" style="width:100%;">
    <div class="row" style="width:100%;">
        <div class="cell">
                <div class="content" style="padding:20px;background-color:#eff3f7;">
                    <br />
                    <table style="width: 95%;" align="center">
                        <tr>
                            <td style="width:20%;padding:5px;">
                                Name
                            </td>
                            <td>
                                @Model.question.Name
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%;padding:5px;">
                                Calculation Model
                            </td>
                            <td>
                                @Model.question.CalculationModel.Name
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%;padding:5px;">
                                Weighting
                            </td>
                            <td>
                                @Model.question.Weighting
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%;padding:5px;">
                                Sub Category
                            </td>
                            <td>
                                @Model.question.SubCategory.Name
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%;padding:5px;">
                                Start Date
                            </td>
                            <td>
                                @Model.question.StartDate.ToString("d MMM yy")
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%;padding:5px;">
                                End Date
                            </td>
                            <td>
                                @Model.question.EndDate.Value.ToString("d MMM yy")
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%;padding:5px;">
                                Answer Can Be N/A
                            </td>
                            <td>
                                @Model.question.CanBeNA.ToString()
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%;padding:5px;">
                                Type
                            </td>
                            <td>
                                @Model.question.CalculationModel.Name
                            </td>
                        </tr>
                        @if (AllowSave)
                        {
                        <tr>
                            <td>
                                Import Answers From Another Question
                            </td>
                            <td>
                                <form id="form11" action="/Home/ImportAnswersFromAnotherQuestion" method="post">


                                    <input type="hidden" name="QuestionID" value="@Model.question.ID" />
                                    <select  data-role="select" name="ImportFromID" style="width: 75%;">
                                        @foreach (var q in Model.Questions.ToList())
                                        {
                                            <option value="@q.ID">@q.Name</option>
                                        }

                                    </select>
                                    <button class="image-button warning" type="submit">
                                        <span class="mif-plus icon"></span>
                                        <span class="caption">Import</span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        }
                    </table>

                </div>

        </div>
    </div>
</div>


@if (Model.question.CalculationModel.eNumMapping == 1) //DropdownList
{
    <div class="grid" style="width:100%;">
           <div class="row" style="width:100%;">
               <div class="cell">
                   <div class="content" style="padding:20px;background-color:#eff3f7;">
                       <h3>Existing Answers</h3>
                       <table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">

                           <thead>
                               <tr>
                                   <td>Description</td>
                                   <td>Operator</td>
                                   <td>Score</td>
                                   <td></td>
                               </tr>
                           </thead>
                           <tbody>
                               @foreach (var answers in Model.ExistingAnswers.OrderByDescending(x => x.Score).ToList())
                               {
                                   <tr>
                                       <td>@answers.Description</td>
                                       <td>=</td>
                                       <td>@answers.Score</td>
                                       <td>
                                           @if (AllowSave)
                                           {
                                            <button class="image-button warning" onclick="window.location.href = '/Home/RemoveAnswer?ID=@answers.ID&qID=@Model.question.ID';">
                                                <span class="mif-bin icon"></span>
                                                <span class="caption">Delete</span>
                                            </button>
                                           }
                                           else
                                           {
                                            <button class="image-button" onclick="alert('Unable to amend answers, this question has been answered'); return false;">
                                                <span class="mif-bin icon"></span>
                                                <span class="caption">Delete</span>
                                            </button>
                                                }

                                       </td>
                                   </tr>
                               }


                           </tbody>
                       </table>
                       <script>
                           $(document).ready(function () {
                               $('#ddlAnswers').DataTable({
                                   "order": [[1, "desc"]]
                               });
                           });
                       </script>
                   </div>

                   </div>   
               <div class="cell">
                   <div class="content" style="padding:20px;background-color:#eff3f7;">
                       <h3>Add New Answer</h3>
                       <form id="form1" action="/Home/AddAnswer" method="post">
                           <input type="submit" id="submit" style="display:none;" />
                           <br />
                           <br />
                           <div class="grid">
                               <div class="row cells3">

                                   <input type="hidden" name="QuestionID" value="@Model.question.ID" />
                                   <div class="" style="width:100%;height:100%;padding:5px;">
                                       <div class="heading">
                                           <span class="title">Value</span>
                                       </div>
                                       <div class="input-control text" style="width:100%;">
                                           @if (AllowSave)
                                           {
                                               <input type="text" name="value" style="width: 100%;" required />
                                           }
                                           else
                                           {
                                               <input type="text" name="value" style="width: 100%;" disabled />
                                           }
                                       </div>
                                   </div>
                                   <div class="" style="width:100%;height:100%;padding:5px;">
                                       <div class="heading">
                                           <span class="title">Operator</span>
                                       </div>
                                       <div class="input-control text" style="width:100%;">

                                           <input type="text" name="operator" style="width: 100%;" value="=" disabled />
                                       </div>
                                   </div>
                                   <div class="" style="width:100%;height:100%;padding:5px;">
                                       <div class="heading">
                                           <span class="title">Score</span>
                                       </div>
                                       <div class="input-control text" style="width:100%;">
                                           @if (AllowSave)
                                           {
                                               <input type="number" name="score" style="width: 100%;" min="0" max="10" required />
                                           }
                                           else

                                           {
                                               <input type="number" name="score" style="width: 100%;" min="0" max="10" disabled />
                                           }
                                       </div>
                                   </div>

                               </div>
                           </div>
                           <br />
                           <br />
                           @if (AllowSave)
                           {
                            <button class="image-button warning" onclick="$('#submit').trigger('click');">
                                <span class="mif-plus icon"></span>
                                <span class="caption">Add Answer</span>
                            </button>
                           }
                           else
                           {
                            <button class="image-button" onclick="alert('Unable to amend answers, this question has been answered'); return false;">
                                <span class="mif-plus icon"></span>
                                <span class="caption">Add Answer</span>
                            </button>
                            }


                           <br />
                           <br />
                       </form>
                   </div>



                </div>

            </div>
        </div>
}

@if (Model.question.CalculationModel.eNumMapping == 2) //Numeric
{
    <div class="grid" style="width:100%;">
           <div class="row" style="width:100%;">
            <div class="cell">
                <div class="content" style="padding:20px;background-color:#eff3f7;">
                    <h3>Existing Answers</h3>
                    <table id="numAnswers" class="border bordered">
                        <thead>
                            <tr>
                                <td>Description</td>
                                <td>Range</td>
                                <td class="column"></td>
                                <td>Score</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var answers in Model.ExistingAnswers.OrderByDescending(x => x.Score).ToList())
                            {
                                <tr>
                                    <td>@answers.Description</td>
                                    <td>@Model.AnswerDescriptions.FirstOrDefault(x => x.Key == answers.ID).Value</td>
                                    <td>
                                        @if (AllowSave)
                                        {
                                            if (answers.CatchAll == false)
                                            {
                                                <button class="image-button warning" onclick="window.location.href = '/Home/RemoveAnswer?ID=@answers.ID&qID=@Model.question.ID';">
                                                    <span class="mif-bin icon"></span>
                                                    <span class="caption">Delete</span>
                                                </button>
                                            }
                                        }
                                        else
                                        {
                                            if (answers.CatchAll == false)
                                            {
                                            <button class="image-button" onclick="alert('Unable to amend answers, this question has been answered'); return false;">
                                                <span class="mif-bin icon"></span>
                                                <span class="caption">Delete</span>
                                            </button>
                                            }
                                        }

                                    </td>
                                    <td>@answers.Score</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function () {
                            $('#numAnswers').DataTable({
                                "order": [[3, "desc"]]
                            });
                        });
                    </script>
                </div>

                </div>
            <div class="cell">
                <div class="content" style="padding:20px;background-color:#eff3f7;">
                    <h3>Add New Answer</h3>
                    <form id="form1" action="/Home/AddAnswer" method="post">
                        <input type="submit" id="submit" style="display:none;" />
                        <br />
                        <br />
                        <div class="grid">
                            <div class="row cells3">

                                <input type="hidden" name="QuestionID" value="@Model.question.ID" />
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Operator</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @*<span class="mif-expand-more prepend-icon"></span>*@
                                        @if (AllowSave)
                                        {
                                            <select name="OperatorID" style="width: 100%;" required>
                                                @foreach (var op in Model.Operators.ToList())
                                                {
                                                    if (op.Operator.Trim() != "=")
                                                    {
                                                        <option value="@op.ID">@op.OperatorDescription</option>
                                                    }

                                                }

                                            </select>
                                        }
                                        else
                                        {
                                            <select name="OperatorID" style="width: 100%;" disabled>
                                                @foreach (var op in Model.Operators.ToList())
                                                {
                                                    if (op.Operator.Trim() != "=")
                                                    {
                                                        <option value="@op.ID">@op.OperatorDescription</option>
                                                    }
                                                }

                                            </select>
                                        }
                                    </div>
                                </div>
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Value</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @if (AllowSave)
                                        {
                                            <input type="number" name="value" style="width: 100%;" required />
                                        }
                                        else
                                        {
                                            <input type="number" name="value" style="width: 100%;" disabled />
                                        }
                                    </div>
                                </div>
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Score</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @if (AllowSave)
                                        {
                                            <input type="number" name="score" style="width: 100%;" min="0" max="10" required />
                                        }
                                        else
                                        {
                                            <input type="number" name="score" style="width: 100%;" min="0" max="10" disabled />
                                        }

                                    </div>
                                </div>

                            </div>
                            <div class="row cells3">
                                <div class="" style="width:33%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Catch All Score</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @if (AllowSave)
                                        {
                                            <input type="number" name="catchallscore" style="width: 100%;" min="0" value="@Model.CatchAllScore" required />
                                        }
                                        else
                                        {
                                            <input type="number" name="catchallscore" style="width: 100%;" min="0" value="@Model.CatchAllScore" disabled />
                                        }

                                    </div>
                                </div>
                            </div>
                            <div id="moreAND" class="row cells3" style="display:none;">

                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <label>AND</label>
                                </div>
                            </div>
                            <div id="more" class="row cells3" style="display:none;">
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Operator</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @*<span class="mif-expand-more prepend-icon"></span>*@

                                        <select name="MORE_OperatorID" style="width: 100%;">
                                            @foreach (var op in Model.Operators.ToList())
                                            {
                                                <option value="@op.ID">@op.OperatorDescription</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Value</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        <input type="number" id="MORE_value" name="MORE_value" style="width: 100%;" />
                                    </div>
                                </div>

                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="input-control text" style="width:100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        @if (AllowSave)
                        {
                         
                                <button class="image-button warning" onclick="$('#submit').trigger('click');">
                                    <span class="mif-plus icon"></span>
                                    <span class="caption">Add Answer</span>
                                </button>
                            
                        }
                        else
                        {
                                                            <button class="image-button" onclick="alert('Unable to amend answers, this question has been answered'); return false;">
                                    <span class="mif-plus icon"></span>
                                    <span class="caption">Add Answer</span>
                                </button>
                         
                        }

                        <br />
                        <br />
                    </form>
                </div>



                </div>

            </div>
        </div>
}

@if (Model.question.CalculationModel.eNumMapping == 3) //TimeSinceDate
{
    <div class="grid" style="width:100%;">
        <div class="row cells2" style="width:100%;">
               <div class="cell">
                   <div class="content" style="padding:20px;background-color:#eff3f7;">
                       <h3>Existing Answers</h3>
                       <table id="TimeSinceDateTable" class="border bordered">
                           <thead>
                               <tr>
                                   <td>Description</td>
                                   <td>Score</td>
                                   <td></td>
                               </tr>
                           </thead>
                           <tbody>
                               @foreach (var answers in Model.ExistingAnswers.OrderByDescending(x => x.Score).ToList())
                               {
                                   <tr>
                                       <td>@answers.Description</td>
                                       <td>@answers.Score</td>
                                       <td>
                                           @if (AllowSave)
                                           {
                                               if (answers.CatchAll == false)
                                               {
                                                   <button class="image-button warning" onclick="window.location.href = '/Home/RemoveAnswer?ID=@answers.ID&qID=@Model.question.ID';">
                                                       <span class="mif-bin icon"></span>
                                                       <span class="caption">Delete</span>
                                                   </button>
                                               }
                                           }
                                           else
                                           {
                                               if (answers.CatchAll == false)
                                               {
                                                   <button class="image-button" onclick="alert('Unable to amend answers, this question has been answered'); return false;">
                                                       <span class="mif-bin icon"></span>
                                                       <span class="caption">Delete</span>
                                                   </button>
                                               }
                                           }

                                       </td>
                                   </tr>
                               }


                           </tbody>
                       </table>
                       <script>
                           $(document).ready(function () {
                               $('#TimeSinceDateTable').DataTable({
                                   "order": [[1, "desc"]]
                               });
                           });
                       </script>
                   </div>

                </div>
               <div class="cell">
                   <div class="content" style="padding:20px;background-color:#eff3f7;">
                       <h3>Add New Answer</h3>
                       <form id="form1" action="/Home/AddAnswer" method="post">
                           <input type="submit" id="submit" style="display:none;" />
                           <br />
                           <br />
                           <div class="grid">
                               <div class="row cells1">

                                   <input type="hidden" name="QuestionID" value="@Model.question.ID" />
                                   <div class="" style="width:33%;height:100%;padding:5px;">

                                   </div>
                                   @*<div class="" style="width:33%;height:100%;padding:5px;">
                                                                    <div class="heading">
                                                                        <span class="title">Date</span>
                                                                    </div>
                                                                    <div class="input-control text" data-role="datepicker" style="width:100%;"   data-format="d mmm yy">
                        @if (AllowSave)
                        {
                                                                        <input type="text" name="Date" id="Date" style="width: 100%;" />
                        }
                        else
                        {
                            <input type="text" name="Date" id="Date" style="width: 100%;" disabled/>
                        }
                                                                        <button class="button"><span class="mif-calendar"></span></button>
                                                                    </div>
                                                                </div>*@
                               </div>
                               <div class="row cells3">
                                   <div class="" style="width:100%;height:100%;padding:5px;">
                                       <div class="heading">
                                           <span class="title">Within</span>
                                       </div>
                                       <div class="input-control text" style="width:100%;">
                                           @if (AllowSave)
                                           {
                                               <input type="number" name="Within" style="width: 100%;" required />
                                           }
                                           else
                                           {
                                               <input type="number" name="Within" style="width: 100%;" disabled />
                                           }
                                       </div>
                                   </div>
                                   <div class="" style="width:100%;height:100%;padding:5px;">
                                       <div class="heading">
                                           <span class="title">Unit</span>
                                       </div>
                                       <div class="input-control text" style="width:100%;">
                                           @*<span class="mif-expand-more prepend-icon"></span>*@
                                           @if (AllowSave)
                                           {
                                               <select name='Unit' style='width: 100%;'>
                                                   <option value="days">Days</option>
                                                   <option value="weeks">Weeks</option>
                                                   <option value="months">Months</option>
                                                   <option value="years">Years</option>
                                               </select>
                                           }
                                           else
                                           {
                                               <select name='Unit' style='width: 100%;' disabled>
                                                   <option value="days">Days</option>
                                                   <option value="weeks">Weeks</option>
                                                   <option value="months">Months</option>
                                                   <option value="years">Years</option>
                                               </select>
                                           }
                                       </div>
                                   </div>
                                   <div class="" style="width:100%;height:100%;padding:5px;">
                                       <div class="heading">
                                           <span class="title">Score</span>
                                       </div>
                                       <div class="input-control text" style="width:100%;">
                                           @if (AllowSave)
                                           {
                                               <input type="number" name="score" style="width: 100%;" min="0" max="10" required />
                                           }
                                           else
                                           {
                                               <input type="number" name="score" style="width: 100%;" min="0" max="10" disabled />
                                           }
                                       </div>
                                   </div>
                               </div>
                               <div class="row cells3">
                                   <div class="" style="width:33%;height:100%;padding:5px;">
                                       <div class="heading">
                                           <span class="title">Catch All Score</span>
                                       </div>
                                       <div class="input-control text" style="width:100%;">
                                           @if (AllowSave)
                                           {
                                               <input type="number" name="catchallscore" style="width: 100%;" min="0" value="@Model.CatchAllScore" required />
                                           }
                                           else
                                           {
                                               <input type="number" name="catchallscore" style="width: 100%;" min="0" value="@Model.CatchAllScore" disabled />
                                           }

                                       </div>
                                   </div>
                               </div>

                           </div>
                           <br />
                           <br />
                           @if (AllowSave)
                           {
                              
                                   <button class="image-button warning" onclick="$('#submit').trigger('click');">
                                       <span class="mif-plus icon"></span>
                                       <span class="caption">Add Answer</span>
                                   </button>
                              
                           }
                           else
                           {

                                   <button class="image-button" onclick="alert('Unable to amend answers, this question has been answered'); return false;">
                                       <span class="mif-plus icon"></span>
                                       <span class="caption">Add Answer</span>
                                   </button>
                              
                           }
                           <br />
                           <br />
                       </form>
                   </div>



                </div>

            </div>
        </div>
}
@if (Model.question.CalculationModel.eNumMapping == 4) //QuestionnaireResults
{
    <div class="grid" style="width:100%;">
        <div class="row cells2" style="width:100%;">
            <div class="cell">
                <div class="content" style="padding:20px;background-color:#eff3f7;">
                    <h3>Existing Answers</h3>
                    <table id="quResults" class="border bordered">
                        <thead>
                            <tr>
                                <td>Description</td>
                                <td>>Score</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var answers in Model.ExistingAnswers.OrderByDescending(x => x.Score).ToList())
                                {
                                <tr>
                                    <td>@answers.Description</td>
                                    <td>@answers.Score</td>
                                    <td>
                                        @if (AllowSave)
                                        {
                                            if (answers.CatchAll == false)
                                            {
                                                <button class="image-button warning" onclick="window.location.href = '/Home/RemoveAnswer?ID=@answers.ID&qID=@Model.question.ID';">
                                                    <span class="mif-bin icon"></span>
                                                    <span class="caption">Delete</span>
                                                </button>
                                            }
                                        }
                                        else
                                        {
                                            if (answers.CatchAll == false)
                                            {
                                                <button class="image-button" onclick="alert('Unable to amend answers, this question has been answered'); return false;">
                                                    <span class="mif-bin icon"></span>
                                                    <span class="caption">Delete</span>
                                                </button>
                                            }
                                        }

                                    </td>
                                </tr>
                                }


                        </tbody>
                    </table>
                    <script>
                            $(document).ready(function () {
                                $('#quResults').DataTable({
                                    "order": [[1, "desc"]]
                                });
                            });
                    </script>
                </div>
            </div>

            <div class="cell">
                <div class="content" style="padding:20px;background-color:#eff3f7;">
                    <h3>Add New Answer</h3>
                    <form id="form1" action="/Home/AddAnswer" method="post">
                        <input type="submit" id="submit" style="display:none;" />
                        <br />
                        <br />
                        <div class="grid">
                            <div class="row cells3">

                                <input type="hidden" name="QuestionID" value="@Model.question.ID" />
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Operator</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @* <span class="mif-expand-more prepend-icon"></span>*@
                                        @if (AllowSave)
                                        {
                                            <select name="OperatorID" style="width: 100%;" required>
                                                @foreach (var op in Model.Operators.ToList())
                                                {
                                                    if (op.Operator.Trim() != "=")
                                                    {
                                                        <option value="@op.ID">@op.OperatorDescription</option>
                                                    }
                                                }



                                            </select>
                                        }
                                        else
                                        {
                                            <select name="OperatorID" style="width: 100%;" disabled>
                                                @foreach (var op in Model.Operators.ToList())
                                                {
                                                    if (op.Operator.Trim() != "=")
                                                    {
                                                        <option value="@op.ID">@op.OperatorDescription</option>
                                                    }
                                                }



                                            </select>
                                        }
                                    </div>
                                </div>
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Questionnaire Result</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @if (AllowSave)
                                        {
                                            <input type="number" name="value" style="width: 100%;" required />
                                        }
                                        else
                                        {
                                            <input type="number" name="value" style="width: 100%;" disabled />
                                        }
                                    </div>
                                </div>
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Score</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @if (AllowSave)
                                        {
                                            <input type="number" name="score" style="width: 100%;" min="0" max="10" required />
                                        }
                                        else
                                        {
                                            <input type="number" name="score" style="width: 100%;" min="0" max="10" disabled />
                                        }
                                    </div>
                                </div>

                            </div>
                            <div class="row cells3">
                                <div class="" style="width:33%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Catch All Score</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @if (AllowSave)
                                        {
                                            <input type="number" name="catchallscore" style="width: 100%;" min="0" value="@Model.CatchAllScore" required />
                                        }
                                        else
                                        {
                                            <input type="number" name="catchallscore" style="width: 100%;" min="0" value="@Model.CatchAllScore" disabled />
                                        }

                                    </div>
                                </div>
                            </div>
                            <div id="moreAND" class="row cells3" style="display:none;">

                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <label>AND</label>
                                </div>
                            </div>
                            <div id="more" class="row cells3" style="display:none;">
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Operator</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @*<span class="mif-expand-more prepend-icon"></span>*@
                                        <select name="MORE_OperatorID" style="width: 100%;">
                                            @foreach (var op in Model.Operators.ToList())
                                            {
                                                <option value="@op.ID">@op.OperatorDescription</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Questionnaire Result</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        <input type="number" id="MORE_value" name="MORE_value" style="width: 100%;" />
                                    </div>
                                </div>

                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="input-control text" style="width:100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        @if (AllowSave)
                        {
                          
                                <button class="image-button warning" onclick="$('#submit').trigger('click');">
                                    <span class="mif-plus icon"></span>
                                    <span class="caption">Add Answer</span>
                                </button>
                           
                        }
                        else
                        {
                            
                                <button class="image-button" onclick="alert('Unable to amend answers, this question has been answered'); return false;">
                                    <span class="mif-plus icon"></span>
                                    <span class="caption">Add Answer</span>
                                </button>
                         
                        }
                        <br />
                        <br />
                    </form>
                </div>

            </div>

        </div>

        </div>
}
@if (Model.question.CalculationModel.eNumMapping == 5) //ManualEntry
{
    <label>No answers required</label>
}

@if (Model.question.CalculationModel.eNumMapping == 6) //YesNo
{
    <div class="grid" style="width:100%;">
        <div class="row cells2" style="width:100%;">
            <div class="cell">
                <div class="content" style="padding:20px;background-color:#eff3f7;">
                    <h3>Existing Answers</h3>
                    <table id="ddlAnswers" class="border bordered">
                        <thead>
                            <tr>
                                <td>Description</td>
                                <td>Operator</td>
                                <td>Score</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var answers in Model.ExistingAnswers.OrderByDescending(x => x.Score).ToList())
                            {
                                <tr>
                                    <td>@answers.Description</td>
                                    <td>=</td>
                                    <td>@answers.Score</td>
                                    <td>
                                        @if (AllowSave)
                                        {
                                            <button class="image-button warning" onclick="window.location.href = '/Home/RemoveAnswer?ID=@answers.ID&qID=@Model.question.ID';">
                                                <span class="mif-bin icon"></span>
                                                <span class="caption">Delete</span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="image-button" onclick="alert('Unable to amend answers, this question has been answered'); return false;">
                                                <span class="mif-bin icon"></span>
                                                <span class="caption">Delete</span>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function () {
                            $('#ddlAnswers').DataTable({
                                "order": [[1, "desc"]]
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="cell">
                <div class="content" style="padding:20px;background-color:#eff3f7;">
                    <h3>Add New Answer</h3>
                    <form id="form1" action="/Home/AddAnswer" method="post">
                        <input type="submit" id="submit" style="display:none;" />
                        <br />
                        <br />
                        <div class="grid">
                            <div class="row cells3">

                                <input type="hidden" name="QuestionID" value="@Model.question.ID" />
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Value</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @if (AllowSave)
                                        {
                                            if (Model.ExistingAnswers.Count == 0)
                                            {
                                                <input type="text" name="value" style="width: 100%;" value="Yes" />
                                            }
                                            if (Model.ExistingAnswers.Count == 1)
                                            {
                                                <input type="text" name="value" style="width: 100%;" value="No" />
                                            }


                                        }
                                        else
                                        {
                                            <input type="text" name="value" style="width: 100%;" disabled />
                                        }
                                    </div>
                                </div>
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Operator</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">

                                        <input type="text" name="operator" style="width: 100%;" value="=" disabled />
                                    </div>
                                </div>
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Score</span>
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        @if (AllowSave)
                                        {
                                            <input type="number" name="score" style="width: 100%;" min="0" max="10" required />
                                        }
                                        else

                                        {
                                            <input type="number" name="score" style="width: 100%;" min="0" max="10" disabled />
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <br />
                        @if (AllowSave)
                        {
                            if (Model.ExistingAnswers.Count < 2)
                            {
                                <button class="image-button warning" onclick="$('#submit').trigger('click');">
                                    <span class="mif-plus icon"></span>
                                    <span class="caption">Add Answer</span>
                                </button>
                            }
                            else
                            {
                                <button class="image-button warning" onclick="alert('Yes and no have already been added'); return false;">
                                    <span class="mif-plus icon"></span>
                                    <span class="caption">Add Answer</span>
                                </button>
                            }
                        }
                        else
                        {

                                <button class="image-button" onclick="alert('Unable to amend answers, this question has been answered'); return false;">
                                    <span class="mif-plus icon"></span>
                                    <span class="caption">Add Answer</span>
                                </button>
                            
                        }


                        <br />
                        <br />
                    </form>
                </div>

            </div>

        </div>

        </div>
}