@model SITSAS.Models.AnswerQuestionnaireModel
<script>
    function CreateTask(QuestionID, HeaderID) {
        $('#popUpTwoContent').empty();
        @Html.Raw("$.ajax({ url: '/Home/CreateUpdateTask?', data: 'json', type: 'GET', data: 'IsPart=true&IsFromQuestionnaire=true&HeaderID=' + HeaderID, cache: false, success: function (result) { $('#popUpTwoContent').empty().append(result); } });")
        @Html.Raw("Metro.dialog.open('#popUpTwo');")
    }

    function LoadYearDropdown() {
        @if (Model.ExistingHeader != null) {
                @Html.Raw("$.ajax({ url: '/Home/LoadYearsAvailableForQuestionnaire?', data: 'json', type: 'GET', data: 'HeaderID=" + Model.ExistingHeader.ID + "', cache: false, success: function (result) { $('#Year').empty().append(result); }});")

            }
        else
        {
                @Html.Raw("$.ajax({ url: '/Home/LoadYearsAvailableForQuestionnaire?', data: 'json', type: 'GET', data: 'QuestionnaireID=" + Model.questionnaire.ID + "&LocationID=' + $('#LocationID').val(), cache: false, success: function (result) { $('#Year').empty().append(result); }});")
            }
    }

    function LoadPreviousAnswers() {
        @foreach (var group in Model.questionnaireGroup)
            {
           foreach (var categories in group.Categories.OrderBy(x => x.Category.DisplayOrder).ToList())
           {
                foreach (var dashCat in categories.SubCategories.OrderBy(x => x.SubCategory.DisplayOrder).ToList())
                {
                      foreach (var question in dashCat.questions.OrderBy(x => x.DisplayOrder).ToList())
                          {
                                 @Html.Raw("$.ajax({ url: '/Home/LoadPreviousAnswer?', data: 'json', type: 'GET', data: 'QuestionnaireID=" + Model.questionnaire.ID + "&QuestionID=" + question.Question.ID + "&LocationID=' + $('#LocationID').val() +'&Year=' + $('#YearSelection').val() +'&Month=' + $('#MonthSelection').val(), cache: false, success: function (result) { $('#" + question.Question.ID + "-previousanswer').empty().append(result); }});")

                          }
                                                 }
                                             }
                                         }
                                     }

    @if (Model.ExistingHeader != null)
                                     {
                                         @Html.Raw("$(document).ready(function() { LoadYearDropdown(); });")

        }


                                     function SubmitForm() {
                                         var post_url = $('#form0').attr("action"); //get form action url
                                         var request_method = $('#form0').attr("method"); //get form GET/POST method
                                         var form_data = $('#form0').serialize(); //Encode form elements for submission

        $.ajax({
                                             url: post_url,
            type: request_method,
            data: form_data
        }).done(function (response) {
            $('#ContinuationID').val(response);
                                             alert('Saved');
                                         });
                                     }

                                     function SubmitFormAndReload() {
                                         var post_url = $('#form0').attr("action"); //get form action url
                                         var request_method = $('#form0').attr("method"); //get form GET/POST method
                                         var form_data = $('#form0').serialize(); //Encode form elements for submission

        $.ajax({
                                             url: post_url,
            type: request_method,
            data: form_data
        }).done(function (response) {

                                             location.reload(true);
                                         });
                                     }


</script>
@if (!Model.IsSub)
                                     {
    <br />
    <br />
    <br />
    <h1 class="text-light">@Model.questionnaire.Name<span class="mif-question place-left" style="padding-right:5px;"></span></h1>
    <hr class="thin bg-grayLighter">
    <hr class="thin bg-grayLighter">
    if (Model.questionnaireGroup.Count > 0)
    {
        @Html.Raw("<form id='form0' action='/Home/SubmitAnswers' method='post'>")
    }
    @*<input type="submit" id="submit" value="submit" name="submit" />
        <input type="submit" id="save" value="save" name="submit" />*@
    <input type="hidden" name="QuestionnaireID" value="@Model.questionnaire.ID" />
    if (Model.ExistingHeader != null)
    {
        <input id="ContinuationID" type="hidden" name="ContinuationID" value="@Model.ExistingHeader.ID" />
    }
    <input type="hidden" name="NewID" value="@Model.NewID" />
    if (Model.IncidentTypeID != new Guid())
    {
        <input type="hidden" name="IncidentTypeID" value="@Model.IncidentTypeID" />
    }

    <table style="width:80%;align-content:center" align="center">
        <tr style="width:100%;">
            <td style="width:100%;">
                <table style="width:100%;">
                    <tr style="width:100%;">
                        <td style="width:20%;"><label>Location Name</label></td>
                        <td style="width:80%;">
                            <div class="input-control text" style="width: 100%;">
                                @*<span class="mif-expand-more prepend-icon"></span>*@
                                <select id="LocationID" name="LocationID" style="width:100%;" class="text-small" onchange="LoadYearDropdown();" required>
                                    @if (Model.AllLocations.Count == 1)
                                    {
                                        <option value="@Model.AllLocations.FirstOrDefault().ID">@Model.AllLocations.FirstOrDefault().Name</option>
                                    }
                                    else
                                    {
                                        <option value="" disabled="disabled" selected="selected">Please select...</option>
                                        foreach (var port in Model.AllLocations.OrderBy(x => x.Name).ToList())
                                        {
                                            if (Model.ExistingHeader != null)
                                            {
                                                if (Model.ExistingHeader.LocationID == port.ID)
                                                {
                                                    <option value="@port.ID" selected>@port.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@port.ID">@port.Name</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="@port.ID">@port.Name</option>
                                            }

                                        }
                                    }

                                </select>

                            </div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr style="width:100%;">
            <td style="width:100%;">
                <table style="width:100%;">
                    <tr style="width:100%;">
                        <td style="width:20%;"><label>Year</label></td>
                        <td style="width:80%;">
                            <div id="Year"></div>

                        </td>
                    </tr>
                    <tr style="width:100%;">
                        <td style="width:20%;"><label>Month</label></td>
                        <td style="width:80%;">
                            <div id="Month"></div>

                        </td>
                    </tr>
                </table>


            </td>
        </tr>
    </table>

}

@foreach (var group in Model.questionnaireGroup)
{

    @*<h5 class="title">@group.questionnaireGroup.Name</h5>*@
    <hr class="thin bg-grayLighter">
    <table style="width:98%;align-content:center" align="center">
        <tr style="width:100%;">
            <td style="width:100%;">
                @foreach (var categories in group.Categories.OrderBy(x => x.Category.DisplayOrder).ToList())
                {
                    <h5 class="title">@categories.Category.DisplayName</h5>
                    <hr class="bg-green" />
                    <div class="panel success text-small">
                        <div class="content">

                            <table style="width:98%" align="center">


                                @foreach (var dashCat in categories.SubCategories.OrderBy(x => x.SubCategory.DisplayOrder).ToList())
                                {
                                    <tr>
                                        <td>
                                            <ul class="step-list">
                                                @if (dashCat.SubCategory.DisplayName.ToUpper() != categories.Category.DisplayName.ToUpper())
                                                {
                                                    <h5 class="title">@dashCat.SubCategory.DisplayName</h5>
                                                    <hr class="bg-blue" />
                                                }

                                                @foreach (var question in dashCat.questions.OrderBy(x => x.DisplayOrder).ToList())
                                                {
                                                    <div class="example" style="width:100%;padding:0;">
                                                        <table style="width:100%;">
                                                            <tr style="width:100%;">
                                                                @if (question.Question.CalculationModel.eNumMapping != (int)SITSAS.Models.eCalculationModels.QuestionnaireResult)
                                                                {
                                                                    <td style="width:250px;padding:10px;">

                                                                        @*@if (question.Question.Name.Trim().ToUpper() != dashCat.DashboardCategory.Name.Trim().ToUpper())
                                                                            {*@
                                                                        <h5><small>@question.Question.Name</small></h5>
                                                                        @* } *@
                                                                    </td>
                                                                }

                                                                @if (question.Question.CalculationModel.eNumMapping != (int)SITSAS.Models.eCalculationModels.QuestionnaireResult)
                                                                {

                                                                    @Html.Raw(" <td style='width:300px;padding:10px;'>")
                                                                }
                                                                else
                                                                {
                                                                    @Html.Raw(" <td colspan='5' style='width:300px;padding:10px;'>")
                                                                }
                                                                @switch (question.Question.CalculationModel.eNumMapping)
                                                                {
                                                                    case (int)SITSAS.Models.eCalculationModels.DropDownLists:
                                                                        {
                                                                            <div class="input-control text" style="width:100%;">
                                                                                @*<span class="mif-expand-more prepend-icon"></span>*@
                                                                                <select name="@question.Question.ID" style="width:100%;" class="text-small" required>
                                                                                    <option value="" disabled="disabled" selected="selected">Please select...</option>
                                                                                    @foreach (var answer in question.Question.Answers.Where(x => x.Deleted == false).OrderByDescending(x => x.Score).ToList())
                                                                                    {
                                                                                        if (Model.ExistingAnswers != null)
                                                                                        {
                                                                                            if (Model.ExistingAnswers.Where(x => x.Answer != null).Where(x => x.Answer.QuestionID == question.Question.ID).ToList().Count > 0)
                                                                                            {
                                                                                                if (Model.ExistingAnswers.FirstOrDefault(x => x.AnswerID == answer.ID) != null)
                                                                                                {
                                                                                                    <option value="@answer.ID" selected>@answer.Description</option>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <option value="@answer.ID">@answer.Description</option>
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <option value="@answer.ID">@answer.Description</option>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <option value="@answer.ID">@answer.Description</option>
                                                                                        }


                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            break;
                                                                        }
                                                                    case (int)SITSAS.Models.eCalculationModels.NumericValue:
                                                                        {
                                                                            <div class="input-control text" style="width:100%;">
                                                                                @if (Model.ExistingAnswers != null)
                                                                                {
                                                                                    if (Model.ExistingAnswers.Where(x => x.Answer.QuestionID == question.Question.ID && x.RawAnswer != "Not Answered").ToList().Count > 0)
                                                                                    {
                                                                                        <input name="@question.Question.ID" type="number" class="text-small" value="@Model.ExistingAnswers.FirstOrDefault(x => x.Answer.QuestionID == question.Question.ID).RawAnswer" required />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input name="@question.Question.ID" type="number" class="text-small" required />
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input name="@question.Question.ID" type="number" class="text-small" required />
                                                                                }

                                                                            </div>
                                                                            break;
                                                                        }
                                                                    case (int)SITSAS.Models.eCalculationModels.QuestionnaireResult:
                                                                        {
                                                                            <h5>@question.Question.Name</h5>
                                                                            <input name="@question.Question.ID" type="hidden" value="SubQuestionnaire" required />
                                                                            if (question.Question.SubQuestionnaireID != null)
                                                                            {
                                                                                Html.RenderAction("AnswerQuestionnaire", new { ID = question.Question.SubQuestionnaireID, IsSub = true });
                                                                            }
                                                                            break;
                                                                        }
                                                                    case (int)SITSAS.Models.eCalculationModels.TimeSinceARecordedDate:
                                                                        {
                                                                            <div class="input-control text" data-role="datepicker" data-format="d mmmm yy">
                                                                                @if (Model.ExistingAnswers != null)
                                                                                {
                                                                                    if (Model.ExistingAnswers.Where(x => x.Answer.QuestionID == question.Question.ID && x.RawAnswer != "Not Answered").ToList().Count > 0)
                                                                                    {
                                                                                        <input type="text" name="@question.Question.ID" style="width: 100%;" class="text-small" value="@Model.ExistingAnswers.FirstOrDefault(x => x.Answer.QuestionID == question.Question.ID).RawAnswer" required />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input type="text" name="@question.Question.ID" style="width: 100%;" class="text-small" required />
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="text" name="@question.Question.ID" style="width: 100%;" class="text-small" required />
                                                                                }

                                                                                <button class="button"><span class="mif-calendar"></span></button>
                                                                            </div>
                                                                            break;
                                                                        }
                                                                    case (int)SITSAS.Models.eCalculationModels.ManualEntry:
                                                                        {
                                                                            <div class="input-control text" style="width:100%;">
                                                                                @if (Model.ExistingAnswers != null)
                                                                                {
                                                                                    if (Model.ExistingAnswers.Where(x => x.Answer.QuestionID == question.Question.ID && x.RawAnswer != "Not Answered").ToList().Count > 0)
                                                                                    {
                                                                                        <input name="@question.Question.ID" type="number" class="text-small" value="@Model.ExistingAnswers.FirstOrDefault(x => x.Answer.QuestionID == question.Question.ID).RawAnswer" required />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <input name="@question.Question.ID" type="number" class="text-small" required />
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input name="@question.Question.ID" type="number" class="text-small" required />
                                                                                }
                                                                            </div>
                                                                            break;
                                                                        }
                                                                    case (int)SITSAS.Models.eCalculationModels.YesNo:
                                                                        {
                                                                            <div class="input-control text" style="width:100%;">
                                                                                @*<span class="mif-expand-more prepend-icon"></span>*@
                                                                                <select name="@question.Question.ID" style="width:100%;" class="text-small" required>
                                                                                    <option value="" disabled="disabled" selected="selected">Please select...</option>
                                                                                    @foreach (var answer in question.Question.Answers.Where(x => x.Deleted == false).OrderByDescending(x => x.Score).ToList())
                                                                                    {
                                                                                        if (Model.ExistingAnswers != null)
                                                                                        {
                                                                                            if (Model.ExistingAnswers.Where(x => x.Answer.QuestionID == question.Question.ID).ToList().Count > 0)
                                                                                            {
                                                                                                if (Model.ExistingAnswers.FirstOrDefault(x => x.AnswerID == answer.ID) != null)
                                                                                                {
                                                                                                    <option value="@answer.ID" selected>@answer.Description</option>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <option value="@answer.ID">@answer.Description</option>
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <option value="@answer.ID">@answer.Description</option>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <option value="@answer.ID">@answer.Description</option>
                                                                                        }
                                                                                    }
                                                                                </select>
                                                                            </div>
                                                                            break;
                                                                        }
                                                                }
                                                                <br />
                                                                <h5><small><small>@question.Question.ToolTipDescription</small></small></h5>
                                                                @Html.Raw("</td>")
                                                                @if (question.Question.CalculationModel.eNumMapping != (int)SITSAS.Models.eCalculationModels.QuestionnaireResult)
                                                                {
                                                                    <td style="width:250px;padding:10px;">

                                                                        @*<div id="NOTES_@question.Question.ID" class="input-control text" style="width:100%;display:none;">*@
                                                                        @if (Model.ExistingAnswers != null)
                                                                        {
                                                                            if (Model.ExistingAnswers.Where(x => x.Answer != null).ToList().Where(x => x.Answer.QuestionID == question.Question.ID).ToList().Count > 0)
                                                                            {
                                                                                <textarea placeholder="Comments..." id="NOTES_@question.Question.ID" name="@question.Question.ID-NOTES" type="text" class="text-small" style="word-break: break-word;height: 62px; width: 250px;width:100%;">@Model.ExistingAnswers.Where(x => x.Answer != null).ToList().FirstOrDefault(x => x.Answer.QuestionID == question.Question.ID).Comments</textarea>

                                                                            }
                                                                            else
                                                                            {
                                                                                <textarea placeholder="Comments..." id="NOTES_@question.Question.ID" name="@question.Question.ID-NOTES" type="text" class="text-small" style="word-break: break-word;height: 62px; width: 250px;width:100%;"></textarea>

                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <textarea placeholder="Comments..." id="NOTES_@question.Question.ID" name="@question.Question.ID-NOTES" type="text" class="text-small" style="word-break: break-word;height: 62px; width: 250px;width:100%;"></textarea>
                                                                        }
                                                                        @*</div>*@
                                                                        @*<label id="btnNOTES_@question.Question.ID" class="image-button success" onclick="$('#NOTES_@question.Question.ID').toggle(); $('#btnNOTES_@question.Question.ID').toggle();"><span class="icon mif-quote"></span>+</label>*@

                                                                    </td>

                                                                    <td style="width:250px;padding:10px;text-align:center;">

                                                                        @if (question.Question.CanBeNA && question.Question.CalculationModel.eNumMapping != (int)SITSAS.Models.eCalculationModels.DropDownLists)
                                                                        {
                                                                            <label>Not Applicable </label><br /><br />
                                                                            <label class="switch-original">
                                                                                <input type="checkbox" name="NA_@question.Question.ID">
                                                                                <span class="check"></span>
                                                                            </label>
                                                                        }
                                                                        else
                                                                        {
                                                                            <label>&nbsp;</label>
                                                                        }

                                                                    </td>
                                                                    <td style="width:250px;padding:10px;text-align:center;">

                                                                        @if (question.Question.CanBeNotAnswered)
                                                                        {
                                                                            <label>Not Entered </label><br /><br />
                                                                            <label class="switch-original">
                                                                                <input type="checkbox" name="NAns_@question.Question.ID">
                                                                                <span class="check"></span>
                                                                            </label>
                                                                        }
                                                                        else
                                                                        {
                                                                            <label>&nbsp;</label>
                                                                        }

                                                                    </td>
                                                                    <td style="width:250px;padding:10px;text-align:center;">
                                                                        <div id="@question.Question.ID.ToString()-previousanswer">

                                                                        </div>
                                                                    </td>
                                                                    <td style="width:250px;padding:10px;text-align:center;">
                                                                        @if (Model.ExistingHeader != null)
                                                                        {
                                                                            <button class="image-button warning" onclick="CreateTask('@question.Question.ID', '@Model.ExistingHeader.ID'); return false;">
                                                                                <span class="mif-clipboard icon"></span>
                                                                                <span class="caption">Create Task</span>
                                                                            </button>

                                                                        }
                                                                        else
                                                                        {
                                                                            <button class="image-button warning" onclick="CreateTask('@question.Question.ID', '@Model.NewID');  return false;">
                                                                                <span class="mif-clipboard icon"></span>
                                                                                <span class="caption">Create Task</span>
                                                                            </button>

                                                                        }
                                                                    </td>
                                                                }
                                                            </tr>
                                                        </table>


                                                    </div>
                                                }

                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </table>


                        </div>
                    </div>

                }
            </td>
        </tr>
    </table>


}
@if (!Model.IsSub)
{
    @*<input type="submit" id="submit" style="display:none;" /> onclick="$('#submit').trigger('click');"*@
    <div style="position:fixed;top:0px;background-color:#fff;height:50px;width:100%;">

        <button type="button" value="saveCont" name="submit" class="image-button warning" onclick="SubmitForm();">
            <span class="mif-floppy-disk icon"></span>
            <span class="caption">Save</span>
        </button>
        <button type="button" value="save" name="submit" class="image-button warning" onclick="SubmitFormAndReload();">
            <span class="mif-floppy-disk icon"></span>
            <span class="caption">Save & Close</span>
        </button>
        <button type="submit" value="sub" name="submit" class="image-button warning">
            <span class="mif-floppy-disk icon"></span>
            <span class="caption">Submit</span>
        </button>
        @*<button type="button" value="saveCont" name="submit" class="image-button success" onclick="SubmitForm(); return false;"><span class="icon mif-floppy-disk"></span> Save</button>
            <button type="button" value="save" name="submit" class="image-button success" onclick="SubmitFormAndReload(); return false;"><span class="icon mif-floppy-disk"></span> Save & close</button>
            <button type="submit" value="sub" name="submit" class="image-button success"><span class="icon mif-floppy-disk"></span> Submit</button>*@
    </div>
    @Html.Raw("</form>")
}
else
{
    if (Model.questionnaireGroup.Count == 0)
    {
        <label>No Questions assigned to this questionnaire.</label>
    }
}


<script>

</script>