@model SITSAS.Models.AnswerOneQuestionModel
<h1 class="text-light">Answer Single Question<span class="mif-clipboard place-left" style="padding-right:5px;"></span></h1>
<hr class="thin bg-grayLighter">
@if (Model.rights.CanEdit)
{
    <form id="form1" action="/Home/AnswerSingleQuestionForLocations" method="post" onsubmit="return confirm('Are you sure you want to use these locations for this date?');">
        <button class="image-button warning" @*onclick="$('#submit').trigger('click');"*@><span class="icon mif-checkmark"></span> Answer Question</button>

        <label class="input-control checkbox small-check" style="padding-left:15px;">
            <input type="checkbox" onClick="toggle(this)" /> Toggle All
            <span class="check"></span>
        </label>
        <div class="input-control text" data-role="datepicker" data-format="d mmmm yy" style="padding-left:15px;">
            <input type="text" name="FixDate" value="@DateTime.Now.Date.ToString("d MMM yy")" style="width: 100%;" />
            <button class="button"><span class="mif-calendar"></span></button>
        </div>
        <div class="input-control text" style="width:100%;">
            @if (Model.rights.CanView)
            {
                @*<span class="mif-expand-more prepend-icon"></span>*@
                <select name="QuestionID" style="width: 100%;">
                    @foreach (var op in Model.AllQuestions.ToList())
                    {
                        <option value="@op.ID">@op.Name</option>
                    }

                </select>
            }
        </div>
        <hr class="thin bg-grayLighter">
        <input type="submit" id="submit" style="display:none;" />

        @*<a class="image-button warning" href="~/Home/FixScoresForDate"><span class="icon mif-checkmark"></span> Fix All Scores</a>*@
        <script>
            function toggle(source) {
                var inputs = document.getElementsByTagName('input');

                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].type.toLowerCase() == 'checkbox') {
                        inputs[i].checked = source.checked;
                    }
                }
            }
        </script>


        <hr class="thin bg-grayLighter">


        <table id="grid" class="border bordered">
            <thead>
                <tr>
                    <td style="width: 7.5%"></td>
                    <td style="width: 46.25%" class="sortable-column">Name</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.rights.CanView)
                {
                    foreach (var location in Model.AllLocations)
                    {
                        <tr>
                            <td>
                                <label class="input-control checkbox small-check">
                                    <input name="@location.ID" type="checkbox">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <td>@location.Name</td>
                        </tr>
                    }

                }
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $('#grid').DataTable({
                    "order": [[1, "asc"]],
                    "lengthMenu": [[-1], ["All"]]
                });
            });
        </script>
    </form>
}