@model SITSAS.Models.CategoriesModel
<script>
    function NewCategory() {
        $('#popUpContent').empty();
            @Html.Raw("$.ajax({ url: '/Home/CreateUpdateCategory?', data: 'json', type: 'GET', data: 'IsPart=true', cache: false, success: function (result) { $('#popUpContent').empty().append(result); } });")
                       @Html.Raw("Metro.dialog.open('#popUp');")
    }
    function EditCategory(id) {
        $('#popUpContent').empty();
        @Html.Raw("$.ajax({ url: '/Home/CreateUpdateCategory?', data: 'json', type: 'GET', data: 'ID=' + id + '&IsPart=true', cache: false, success: function (result) { $('#popUpContent').empty().append(result); }});")
                   @Html.Raw("Metro.dialog.open('#popUp');")
    }
</script>
<h1 class="text-light">Categories<span class="mif-paragraph-justify place-left" style="padding-right:5px;"></span></h1>
<hr class="thin bg-grayLighter">
@if (Model.rights.CanAdd)
{
    <button class="image-button warning" onclick="NewCategory();">
        <span class="mif-clipboard icon"></span>
        <span class="caption">Create</span>
    </button>
}
@if (Model.rights.CanView)
{
    <button class="image-button warning"  onclick="window.location.href = '/Home/RetiredCategories';">
        <span class="mif-undo icon"></span>
        <span class="caption">Retired Categories</span>
    </button>
    <button class="image-button warning"  onclick="window.location.href = '/Home/FutureCategories';">
        <span class="mif-redo icon"></span>
        <span class="caption">Future Categories</span>
    </button>
}
<hr class="thin bg-grayLighter">
<hr class="thin bg-grayLighter">
<table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">

    <thead>
        <tr>
            <td style="width: 46.25%" class="sortable-column">Name</td>
            <td style="width: 46.25%" class="sortable-column">Display Name</td>
            <td style="width: 7.5%" class="sortable-column"></td>
            <td style="width: 7.5%" class="sortable-column"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.rights.CanView)
        {
            foreach (var rCategories in Model.ExistingCategories.OrderBy(x => x.DisplayOrder))
            {
                <tr>
                    <td>@rCategories.Name</td>
                    <td>@rCategories.DisplayName</td>
                    <td>
                        @if (Model.rights.CanEdit)
                        {
                            <button class="image-button warning" onclick="EditCategory('@rCategories.ID')">
                                <span class="mif-pencil icon"></span>
                                <span class="caption">Edit</span>
                            </button>
                        }
                        @*<a class="image-button alert"><span class="icon mif-bin"></span> Delete</a>*@
                    </td>
                    <td>
                        <p class="fg-black" style="width:50px;  display:block;  word-break: break-word;white-space:normal;line-height:20px;">
                            <button class="image-button warning" onclick="window.location.href = '/Home/SortOrderCategory?ID=@rCategories.ID.ToString()&Direction=Up';">
                                <span class="mif-arrow-up icon"></span>
                                <span class="caption"> </span>
                            </button>
                            <button class="image-button warning" onclick="window.location.href = '/Home/SortOrderCategory?ID=@rCategories.ID.ToString()&Direction=Down';">
                                <span class="mif-arrow-down icon"></span>
                                <span class="caption"> </span>
                            </button>
                        </p>
                    </td>
                </tr>
            }
        }


    </tbody>
</table>