@model  SITSAS.Models.CreateUpdateTaskModel

@if (Model.IsFromQuestionnaire)
{
    <script>
        function SubForm() {
            $.ajax({
                url: '/Home/SaveTask',
                type: 'post',
                data: $('#taskForm').serialize(),
                success: function () {
                   metroDialog.close('#popUpTwo');
                    }
            });
        }
    </script>
    <button class="image-button warning" onclick="SubForm();"><span class="icon mif-floppy-disk"></span> Save</button>
}
else
{
    <button class="image-button warning" onclick="$('#submittask').click();"><span class="icon mif-floppy-disk"></span> Save</button>
}

@if (Model.TaskExists)
{
    <a class="image-button warning" href="~/Home/DeleteTask?ID=@Model.ExistingTask.ID" onclick="return confirm('Are you sure you want to delete this item?')"><span class="icon mif-bin"></span> Delete</a>
}
<hr class="thin bg-grayLighter">

<div class="panel">
    <div class="heading" style="background-color:#36CAB2;">
        <span class="icon mif-location-city" style="background-color:#1F1C53;"></span>

        @if (Model.TaskExists)
        {
            <span class="title">Update Task</span>

        }
        else
        {
            <span class="title">Create New Task</span>
        }


    </div>
    <div class="content" style="background-color:#d7f4ef;">

        <form id="taskForm" action="/Home/SaveTask" method="post">
            <input type="submit" id="submittask" style="display:none;" />
            <br />
            <br />
            <table style="width: 80%;" align="center">
                <tr>
                    <td style="width: 100%;">
                        <label>Assigned To</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <select name="AssignedTo">
                                    @foreach (SITSAS.Models.DirectoryUser usr in Model.AllUsers.OrderBy(x => x.Name).ToList())
                                    {
                                        if (Model.ExistingTask.AssignedTo == usr.SN)
                                        {
                                            <option value="@usr.SN" selected>@usr.Name</option>
                                        }
                                        else
                                        {
                                        <option value="@usr.SN">@usr.Name</option>
                                        }
                                    }

                                </select>

                            }
                            else
                            {
                                <select name="AssignedTo">
                                    @foreach (SITSAS.Models.DirectoryUser usr in Model.AllUsers.OrderBy(x => x.Name).ToList())
                                    {
                                        <option value="@usr.SN">@usr.Name</option>
                                    }

                                </select>
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label>Title</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <input type="text" name="Title" id="Title" value="@Model.ExistingTask.Title" style="width: 100%;" required />
                                <input type="hidden" name="ExistingTaskID" id="ExistingTaskID" value="@Model.ExistingTask.ID" />

                            }
                            else
                            {
                                <input type="text" name="Title" id="Title" style="width: 100%;" required />
                                <input type="hidden" name="ExistingTaskID" id="ExistingTaskID" value="0" />
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label>Description</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <input type="text" name="Description" id="Description" value="@Model.ExistingTask.Description" style="width: 100%;" required />

                            }
                            else
                            {
                                <input type="text" name="Description" id="Description" style="width: 100%;" required />
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label>Due Date</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <div class="input-control text" data-role="datepicker" data-format="d mmmm yy">
                                    <input type="text" name="DueDate" id="DueDate" value="@Model.ExistingTask.DueDate.ToString("d MMM yy")" style="width: 100%;" />
                                    <button class="button"><span class="mif-calendar"></span></button>
                                </div>

                            }
                            else
                            {
                                <div class="input-control text" data-role="datepicker" data-format="d mmmm yy">
                                    <input type="text" name="DueDate" id="DueDate" value="@DateTime.Now.ToString("d MMM yy")" style="width: 100%;" />
                                    <button class="button"><span class="mif-calendar"></span></button>
                                </div>
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label>Status</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <select name="Status">
                                    @foreach (TaskStatu status in Model.AllTaskStatuses.OrderBy(x => x.Name).ToList())
                                    {
                                        if (Model.ExistingTask.Status == status.ID)
                                        {
                                            <option value="@status.ID" selected>@status.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@status.ID">@status.Name</option>
                                        }
                                    }

                                </select>

                            }
                            else
                            {
                                <select name="Status">
                                    @foreach (TaskStatu status in Model.AllTaskStatuses.OrderBy(x => x.Name).ToList())
                                    {
                                        if (status.enumMapping == 0)
                                        {
                                            <option value="@status.ID" selected>@status.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@status.ID">@status.Name</option>
                                        }

                                    }

                                </select>
                            }
                        </div>
                    </td>
                </tr>
            </table>

        </form>
        <br />
        <br />

    </div>
</div>