@model  SITSAS.Models.CreateUpdateTaskModel

@if (Model.IsFromQuestionnaire)
{
    <script>
        function SubForm() {
            $.ajax({
                url: '/Home/SaveTask',
                type: 'post',
                data: $('#taskForm').serialize(),
                success: function () {
                    location.reload();
                    }
            });
        }
    </script>
    <button class="image-button warning" onclick="SubForm();">
        <span class="mif-floppy-disk icon"></span>
        <span class="caption">Save</span>
    </button>
}
else
{
    <button class="image-button warning" onclick="$('#submittask').click();">
        <span class="mif-floppy-disk icon"></span>
        <span class="caption">Save</span>
    </button>
}

@if (Model.TaskExists)
{
    <button class="image-button warning" onclick="if (confirm('Are you sure you want to delete this item?') == true) { window.location.href = '/Home/DeleteTask?ID=@Model.ExistingTask.ID'; }">
        <span class="mif-bin icon"></span>
        <span class="caption">Delete</span>
    </button>
}
<hr class="thin bg-grayLighter">
    <div class="content" style="background-color:#d7f4ef;padding:10px;">

        <form id="taskForm" action="/Home/SaveTask" method="post">
            <input type="submit" id="submittask" style="display:none;" />
            @if (Model.HeaderID != null)
            {
                <input type="hidden" name="HeaderID" value="@Model.HeaderID" />
            }
            <table style="width: 80%;" align="center">
                <tr>
                    <td style="width: 100%;">
                        <label>Assigned To</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <select data-role="select" name="AssignedTo" multiple>
                                    @foreach (SITSAS.Models.DirectoryUser usr in Model.AllUsers.OrderBy(x => x.Name).ToList())
                                    {
                                        if (Model.AssignedUsers.Contains(usr.SN))
                                        {
                                            <option value="@usr.SN" selected>@usr.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@usr.SN">@usr.Name</option>
                                        }
                                    }

                                </select>

                            }
                            else
                            {
                                <select data-role="select" name="AssignedTo" multiple>
                                    @foreach (SITSAS.Models.DirectoryUser usr in Model.AllUsers.OrderBy(x => x.Name).ToList())
                                    {
                                        <option value="@usr.SN">@usr.Name</option>
                                    }

                                </select>
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label>Title</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <input type="text" name="Title" id="Title" value="@Model.ExistingTask.Title" style="width: 100%;" required />
                                <input type="hidden" name="ExistingTaskID" id="ExistingTaskID" value="@Model.ExistingTask.ID" />

                            }
                            else
                            {
                                <input type="text" name="Title" id="Title" style="width: 100%;" required />
                                <input type="hidden" name="ExistingTaskID" id="ExistingTaskID" value="0" />
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label>Description</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <input type="text" name="Description" id="Description" value="@Model.ExistingTask.Description" style="width: 100%;" required />

                            }
                            else
                            {
                                <input type="text" name="Description" id="Description" style="width: 100%;" required />
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label>Comments</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <input type="text" name="Comments" id="Comments" value="@Model.ExistingTask.Comments" style="width: 100%;"  />

                            }
                            else
                            {
                                <input type="text" name="Comments" id="Comments" style="width: 100%;"  />
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label>Due Date</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <div class="input-control" >
                                    <input type="text" name="DueDate" id="DueDate" data-role="calendarpicker" value="@Model.ExistingTask.DueDate.ToString("yyyy/MM/dd")" style="width: 100%;"  data-dialog-mode="true" data-format="%d %b %Y"/>
                                </div>

                            }
                            else
                            {
                                <div class="input-control">
                                    <input type="text" name="DueDate" id="DueDate" data-role="calendarpicker" value="@DateTime.Now.ToString("yyyy/MM/dd")" style="width: 100%;" data-dialog-mode="true" data-format="%d %b %Y" />
                                </div>
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label>Status</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.TaskExists)
                            {

                                <select name="Status">
                                    @foreach (TaskStatu status in Model.AllTaskStatuses.OrderBy(x => x.Name).ToList())
                                    {
                                        if (Model.ExistingTask.Status == status.ID)
                                        {
                                            <option value="@status.ID" selected>@status.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@status.ID">@status.Name</option>
                                        }
                                    }

                                </select>

                            }
                            else
                            {
                                <select name="Status">
                                    @foreach (TaskStatu status in Model.AllTaskStatuses.OrderBy(x => x.Name).ToList())
                                    {
                                        if (status.enumMapping == 0)
                                        {
                                            <option value="@status.ID" selected>@status.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@status.ID">@status.Name</option>
                                        }

                                    }

                                </select>
                            }
                        </div>
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.CreatedFrom))
                {
                <tr>
                    <td>
                        <label>Associated Assessment</label>
                        <div class="input-control text" style="width:100%;">
                               <input type="text" value="@Model.CreatedFrom" style="width: 100%;" disabled/>
                        </div>
                    </td>
                </tr>
                }
            </table>

        </form>
    </div>