@model  SITSAS.Models.CreateUpdateQuestionnaireGroupModel

<button class="image-button warning" onclick="$('#submit').trigger('click');"><span class="icon mif-floppy-disk"></span> Save</button>
@if (Model.QuestionnaireGroupExists)
{
    <a class="image-button warning" href="~/Home/DeleteQuestionnaireGroup?ID=@Model.ExistingQuestionnaireGroup.ID" onclick="return confirm('Are you sure you want to delete this item?')"><span class="icon mif-bin"></span> Delete</a>
}
<hr class="thin bg-grayLighter">

<div class="panel">
    <div class="heading" style="background-color:#36CAB2;">
        <span class="icon mif-versions" style="background-color:#1F1C53;"></span>

        @if (Model.QuestionnaireGroupExists)
        {
            <span class="title">Update Assessment Group</span>

        }
        else
        {
            <span class="title">Create New Assessment Group</span>
        }


    </div>
    <div class="content" style="background-color:#d7f4ef;">
        <form id="form0" action="/Home/SaveQuestionnaireGroup" method="post">
            <input type="submit" id="submit" style="display:none;" />
            <br />
            <br />
            <table style="width: 80%;" align="center">
                <tr>
                    <td style="width: 100%;">
                        <label>Name of Assessment Group</label>
                        <div class="input-control text" style="width:100%;">
                            @if (Model.QuestionnaireGroupExists)
                            {

                                <input type="text" name="Name" id="Name" value="@Model.ExistingQuestionnaireGroup.Name" style="width: 100%;" required />
                                <input type="hidden" name="ExistingQuestionnaireGroupID" id="ExistingQuestionnaireGroupID" value="@Model.ExistingQuestionnaireGroup.ID" />

                            }
                            else
                            {
                                <input type="text" name="Name" id="Name" style="width: 100%;" required />
                                <input type="hidden" name="ExistingQuestionnaireGroupID" id="ExistingQuestionnaireGroupID" value="0" />
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label>Questionnaire</label>
                        <div class="input-control" style="width:100%;">
                            @*<span id="ddl" class="mif-expand-more prepend-icon"></span>*@
                            <select id="QuestionnaireID" name="QuestionnaireID" style="width: 100%;">
                                @foreach (var rCategory in Model.AllQuestionnaires.OrderBy(x => x.Name))
                                {
                                    if (Model.QuestionnaireGroupExists)
                                    {
                                        if (Model.ExistingQuestionnaireGroup.QuestionnaireID == rCategory.ID)
                                        {
                                            <option value="@rCategory.ID" selected="selected">@rCategory.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@rCategory.ID">@rCategory.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@rCategory.ID">@rCategory.Name</option>
                                    }

                                }

                            </select>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <br />
        <br />

    </div>
</div>

