@model SITSAS.Models.FrequencyProfileModel
<script>
    function NewFrequencyProfile() {
        $('#popUpContent').empty();
        @Html.Raw("$.ajax({ url: '/Home/CreateUpdateFrequencyProfile?', data: 'json', type: 'GET', data: 'IsPart=true', cache: false, success: function (result) { $('#popUpContent').empty().append(result); }});")
       @Html.Raw("Metro.dialog.open('#popUp');")
    }
    function EditFrequencyProfile(id) {
        $('#popUpContent').empty();
        @Html.Raw("$.ajax({ url: '/Home/CreateUpdateFrequencyProfile?', data: 'json', type: 'GET', data: 'ID=' + id + '&IsPart=true', cache: false, success: function (result) { $('#popUpContent').empty().append(result); }});")
        @Html.Raw("Metro.dialog.open('#popUp');")
    }
</script>
<h1 class="text-light">Frequency Profiles<span class="mif-calendar place-left" style="padding-right:5px;"></span></h1>
<hr class="thin bg-grayLighter">
@if (Model.rights.CanAdd)
{
    <button class="image-button warning" onclick="NewFrequencyProfile();">
        <span class="mif-clipboard icon"></span>
        <span class="caption">Create</span>
    </button>
}
<hr class="thin bg-grayLighter">
<hr class="thin bg-grayLighter">
<table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">

    <thead>
        <tr>
            <td style="width: 46.25%" class="sortable-column">Name</td>
            <td style="width: 46.25%" class="sortable-column">Next Date To Complete</td>
            <td style="width: 7.5%" class="sortable-column"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.rights.CanView)
        {
            foreach (var FrequencyProfile in Model.ExistingFrequencyProfiles)
            {
                <tr>
                    <td>@FrequencyProfile.Name</td>
                    @if (FrequencyProfile.NextDateToComplete.HasValue)
                    {
                        <td>@FrequencyProfile.NextDateToComplete.Value.ToString("d MMM yy")</td>
                    }
                    else
                    {
                        <td></td>
                    }

                    <td>
                        @if (Model.rights.CanEdit)
                        {
                            <button class="image-button warning" onclick="EditFrequencyProfile('@FrequencyProfile.ID')">
                                <span class="mif-pencil icon"></span>
                                <span class="caption">Edit</span>
                            </button>
                        }
                        @*<a class="image-button alert"><span class="icon mif-bin"></span> Delete</a>*@
                    </td>
                </tr>
            }
        }



    </tbody>
</table>
