@model SITSAS.Models.IndexModel
<script>
    $(document).ready(function () {
    $("#questionnaireID").change(function () {
        window.location.href = "?ID=" + $("#questionnaireID option:selected").val();

    });
    });
</script>
<label>Calculation Model</label>
<div class="input-control text" style="width:100%;">
    <select id='questionnaireID' name='questionnaireID' style='width: 100%;'>

        @foreach (var questionnaire in Model.questionnaires.OrderBy(x => x.Name))
        {

            if (questionnaire.ID == Model.SelectedQuestionnaire)
            {

                <option value="@questionnaire.ID" selected="selected">@questionnaire.Name</option>
            }
            else
            {
                <option value="@questionnaire.ID">@questionnaire.Name</option>
            }
        }

    </select>

</div>


<table class="table" data-rows="-1" data-show-table-info="false" data-auto-width="false" style="width:100%;padding:0.2rem;" data-show-pagination="false">
    <thead>
        <tr>
            <td>Location</td>
            @{List<DateTime> datesAdded = new List<DateTime>();}
            
            @foreach (FrequencyProfile_Dates date in Model.fpDates.Where(x => x.LocationID == Model.locations.FirstOrDefault().ID).OrderBy(x => x.StartDate))
            {
                if (!datesAdded.Contains(date.EndDate))
                {
                    <td>@date.EndDate.ToString("MM yyyy")</td>
                    datesAdded.Add(date.EndDate);
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (Location location in Model.locations.OrderBy(x => x.Name))
            {
            <tr>

                <td>@location.Name</td>
                @{datesAdded = new List<DateTime>();}
                @foreach (FrequencyProfile_Dates date in Model.fpDates.Where(x => x.LocationID == Model.locations.FirstOrDefault().ID).OrderBy(x => x.StartDate))
                {
                    if (!datesAdded.Contains(date.EndDate))
                    {
                        if (Model.questionnaires.FirstOrDefault(x => x.ID == Model.SelectedQuestionnaire).Result_Headers.Where(x => x.LocationID == location.ID && x.Submitted == true && x.SelectedDate >= date.StartDate && x.SelectedDate <= date.EndDate).ToList().Count > 0)
                        {
                        <td style="background-color:#19841a;border:solid;border-color:#e4e4e4;"></td>
                        }
                        else
                        {
                            if (Model.questionnaires.FirstOrDefault(x => x.ID == Model.SelectedQuestionnaire).Result_Headers.Where(x => x.LocationID == location.ID && x.Submitted == false && x.SelectedDate >= date.StartDate && x.SelectedDate <= date.EndDate).ToList().Count > 0)
                            {
                            <td style="background-color:#f87626;border:solid;border-color:#e4e4e4;"></td>
                            }
                            else
                            {
                            <td style="background-color:#e00039;border:solid;border-color:#e4e4e4;"></td>
                            }
                        }
                        datesAdded.Add(date.EndDate);
                    }

                }
            </tr>
        }
    </tbody>
</table>