@model SITSAS.Models.LocationsModel
<script>
    function NewLocation() {
        $('#popUpContent').empty();
        @Html.Raw("$.ajax({ url: '/Home/CreateUpdateLocation?', data: 'json', type: 'GET', data: 'IsPart=true', cache: false, success: function (result) { $('#popUpContent').empty().append(result); }});")
            @Html.Raw("Metro.dialog.open('#popUp');")
    }
    function EditLocation(id) {
        $('#popUpContent').empty();
        @Html.Raw("$.ajax({ url: '/Home/CreateUpdateLocation?', data: 'json', type: 'GET', data: 'ID=' + id + '&IsPart=true', cache: false, success: function (result) { $('#popUpContent').empty().append(result); }});")
            @Html.Raw("Metro.dialog.open('#popUp');")
    }
</script>
<h1 class="text-light">Locations<span class="mif-location place-left" style="padding-right:5px;"></span></h1>
<hr class="thin bg-grayLighter">
<button class="image-button warning" onclick="NewLocation();">
    <span class="mif-clipboard icon"></span>
    <span class="caption">Create</span>
</button>
<hr class="thin bg-grayLighter">
<hr class="thin bg-grayLighter">
<table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">
    <thead>
        <tr>
            <td style="width: 36.25%" class="sortable-column">Service Name</td>
            <td style="width: 36.25%" class="sortable-column">Area</td>
            @foreach (var permGroup in Model.AllLocationPermissionGroups.OrderBy(x => x.Name))
            {
                <td style="width: 20%" class="sortable-column">@permGroup.Name</td>
            }

            <td style="width: 7.5%" class="sortable-column"></td>
            <td style="width: 7.5%" class="sortable-column"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model.ExistingLocations)
        {
            <tr>
                <td>@location.Name</td>
                <td>@location.AreaName</td>
                @foreach (var permGroup in Model.AllLocationPermissionGroups.OrderBy(x => x.Name))
                {
                    if (location.PermissionGroupToUsername.ContainsKey(permGroup.ID))
                    {
                        <td>@location.PermissionGroupToUsername[permGroup.ID].ToString()</td>
                    }
                    else
                    {
                        <td></td>
                    }

                }
                <td>
                    <button class="image-button warning" onclick="EditLocation('@location.ID')">
                        <span class="mif-pencil icon"></span>
                        <span class="caption">Edit</span>
                    </button>
                </td>
                <td>
                    <button class="image-button warning" onclick="window.location.href = '/Home/ReviewLocation?LocationID=@location.ID';">
                        <span class="mif-search icon"></span>
                        <span class="caption">Review</span>
                    </button>
                             </td>
            </tr>
        }


    </tbody>
</table>