@model SITSAS.Models.QuestionnaireQuestionsModel

<div class="grid" style="width:100%;">
    <div class="row" style="width:100%;">
        <div class="cell">
            <h1>Assessment : @Model.Questionnaire.Name</h1>

        </div>
    </div>
</div>

<div class="grid" style="width:100%;">
    <div class="row" style="width:100%;">
        <div class="cell">
            <h2>Existing Questions</h2>
                    <div class="content">
                    
                    <table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">

                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Calculation Model</td>
                                <td>Sub Category</td>
                                <td style="width:20%;">Sort Order</tdstyle="width:50%;">
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var answers in Model.ExistingMapQuestions.OrderBy(x => x.DisplayOrder).ToList())
                            {
                                <tr>
                                    <td><p class="fg-black" style="width:400px;  display:block;  word-break: break-word;white-space:normal;line-height:20px;">@answers.Question.Name</p></td>
                                    <td>@answers.Question.CalculationModel.Name</td>
                                    <td>@answers.Question.SubCategory.Name</td>
                                    <td>
                                        <button class="image-button warning" onclick="window.location.href = '/Home/SortOrderQuestionInQuestionnaire?QuestionID=@answers.Question.ID&QuestionnaireID=@Model.Questionnaire.ID&Direction=Up';">
                                            <span class="mif-arrow-up icon"></span>
                                            <span class="caption"> </span>
                                        </button>
                                        <button class="image-button warning" onclick="window.location.href = '/Home/SortOrderQuestionInQuestionnaire?QuestionID=@answers.Question.ID&QuestionnaireID=@Model.Questionnaire.ID&Direction=Down';">
                                            <span class="mif-arrow-down icon"></span>
                                            <span class="caption"> </span>
                                        </button>         </td>
                                    <td>
                                        @* LOGIC HERE SO THAT IF THE QUESTION HAS BEEN ANSWERED THIS WILL NOT APPEAR!!!!!!!!!!!!!! *@
                                        <button class="image-button warning" onclick="window.location.href = '/Home/RemoveQuestionFromQuestionnaire?QuestionID=@answers.Question.ID&QuestionnaireID=@Model.Questionnaire.ID';">
                                            <span class="mif-bin icon"></span>
                                            <span class="caption">Delete</span>
                                        </button>
                                                                        </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
           
        </div>
        <div class="cell">
            <h2>Add New Question</h2>
                          <div class="content">
                    <form id="form1" action="/Home/AddQuestionFromQuestionnaire" method="post">
                        <br />
                        <br />
                        <div class="grid">
                            <div class="row cells3">
                                <div class="" style="width:100%;height:100%;padding:5px;">
                                    <div class="heading">
                                        <span class="title">Question</span><br />
                                    </div>
                                    <div class="input-control text" style="width:100%;">
                                        <input type="hidden" name="QuestionnaireID" value="@Model.Questionnaire.ID" />
                                        @*<span class="mif-expand-more prepend-icon"></span>*@
                                        <select name="QuestionID" style="width: 100%;">
                                            @foreach (var op in Model.AllQuestions.ToList())
                                            {
                                                <option value="@op.ID">@op.Name</option>
                                            }

                                        </select>
                                    </div>
                                </div>
                                    </div>
                                </div>
                        <br />
                        <br />
                        <button class="image-button warning" onclick="$('#form1').submit();">
                            <span class="mif-plus icon"></span>
                            <span class="caption">Add Question</span>
                        </button>
                    </form>
                </div>

            </div>

        </div>
    </div>