@model SITSAS.Models.ReviewLocationModel
@{
    ViewBag.Title = "ReviewLocation";
}

<h2>Location: @Model.location.Name</h2>

<hr class="thin bg-grayLighter">
<h3>Review Previous Questionnaires</h3>
<hr class="thin bg-grayLighter">


<table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">

    <thead>
        <tr>
            <td style="width: 24%" class="sortable-column">Completed By</td>
            <td style="width: 25%" class="sortable-column">Location</td>
            <td style="width: 15%" class="sortable-column">Completed Date</td>
            <td style="width: 15%" class="sortable-column">Selected Date</td>
            <td style="width: 13%" class="sortable-column"></td>
            <td style="width: 13%" class="sortable-column"></td>
        </tr>
    </thead>
    @foreach (var Header in Model.headers)
    {
        <tr>
            <td> @Header.CompletedBy</td>
            <td> @Header.Location.Name</td>
            <td> @Header.CreatedDate.ToString("d MMM yy")</td>
            <td> @Header.SelectedDate.ToString("d MMM yy")</td>
            <td><a class="image-button warning" href="~/Home/ShowQuestionnaireResults?HeaderID=@Header.ID"><span class="icon mif-file-text"></span> View</a></td>
            <td><a class="image-button warning" href="~/Home/PrintResults?ResultHeaderID=@Header.ID"><span class="icon mif-file-text"></span> Print</a></td>
        </tr>

    }
</table>

<br />
<br />
<br />
<hr class="thin bg-grayLighter">
<h3>Review Previous Answers To A Single Question</h3>
<hr class="thin bg-grayLighter">

<form id="form1" action="/Home/ReviewQuestionForLocation" method="post">
    <input type="hidden"name="LocationID" value="@Model.location.ID" />
    <div class="input-control text" style="width:100%;">
        <select name="QuestionID" style="width: 100%;">
            @foreach (var op in Model.questions.OrderBy(x => x.Name).ToList())
            {
                <option value="@op.ID">@op.Name</option>
            }

        </select>
        <br />
        <button class="image-button warning" >
            <span class="mif-search icon"></span>
            <span class="caption">Review</span>
        </button>
    </div>
</form>

