@model SITSAS.Models.Results

<h2>Assessment: @Model.questionnaire.Name</h2>
<hr class="thin bg-grayLighter">
<button class="image-button warning" onclick="window.location.href = '/Home/Questionnaires';">
    <span class="mif-move-down icon"></span>
    <span class="caption">Assessments</span>
</button>
<hr class="thin bg-grayLighter">

<table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">

    <thead>
        <tr>
            <td style="width: 24%" class="sortable-column">Completed By</td>
            <td style="width: 25%" class="sortable-column">Location</td>
            <td style="width: 15%" class="sortable-column">Completed Date</td>
            <td style="width: 15%" class="sortable-column">Selected Date</td>
            <td style="width: 13%" class="sortable-column"></td>
            <td style="width: 13%" class="sortable-column"></td>
        </tr>
    </thead>
    @foreach (var Header in Model.Header)
    {
        <tr>
            <td> @Header.CompletedBy</td>
            <td> @Header.Location.Name</td>
            <td> @Header.CreatedDate.ToString("d MMM yy")</td>
            <td> @Header.SelectedDate.ToString("d MMM yy")</td>
            <td>
                <button class="image-button warning" onclick="window.location.href = '/Home/ShowQuestionnaireResults?HeaderID=@Header.ID';">
                    <span class="mif-file-text icon"></span>
                    <span class="caption">Details</span>
                </button>   <td>
                <button class="image-button warning" onclick="window.location.href = '/Home/PrintResults?ResultHeaderID=@Header.ID';">
                    <span class="mif-file-text icon"></span>
                    <span class="caption">Print</span>
                </button>
            </tr>

    }
</table>

