@model SITSAS.Models.StalenessProfilesModel
<script>
    function NewStalenessProfile() {
            @Html.Raw("$.ajax({ url: '/Home/CreateUpdateStalenessProfile?', data: 'json', type: 'GET', data: 'IsPart=true', cache: false }).success(function (result) { $('#popUpItem').empty().append(result); }).error(function (xhr, textStatus, errorThrown) { });")
                        @Html.Raw("metroDialog.open('#popUp');")
    }
    function EditStalenessProfile(id) {
        @Html.Raw("$.ajax({ url: '/Home/CreateUpdateStalenessProfile?', data: 'json', type: 'GET', data: 'ID=' + id + '&IsPart=true', cache: false }).success(function (result) { $('#popUpItem').empty().append(result); }).error(function (xhr, textStatus, errorThrown) { });")
                    @Html.Raw("metroDialog.open('#popUp');")
    }
</script>
<h1 class="text-light">Staleness Profiles<span class="mif-sort-desc place-left" style="padding-right:5px;"></span></h1>
<hr class="thin bg-grayLighter">
@if (Model.rights.CanAdd)
{
<a class="image-button warning" onclick="NewStalenessProfile();"><span class="icon mif-plus"></span> Create</a>
}
<hr class="thin bg-grayLighter">
<hr class="thin bg-grayLighter">
<table id="jobDataTable" class="table striped table-border mt-4" data-rows="-1" data-show-table-info="false" data-role="table" data-auto-width="false" style="width:100%;" data-show-rows-steps="false" data-show-pagination="false">

    <thead>
        <tr>
            <td style="width: 46.25%" class="sortable-column">Name of Staleness Profile</td>

            <td style="width: 7.5%" class="sortable-column"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.rights.CanView)
        {
            foreach (var StalenessProfile in Model.ExistingStalenessProfiles)
            {
                <tr>
                    <td>@StalenessProfile.Name</td>

                    <td>
                        @if (Model.rights.CanEdit)
                        {
                            <a class="image-button warning" onclick="EditStalenessProfile('@StalenessProfile.ProfileID')"><span class="icon mif-pencil"></span> Edit</a>
                        }
                        @*<a class="image-button alert"><span class="icon mif-bin"></span> Delete</a>*@
                    </td>
                </tr>
            }
        }


    </tbody>
</table>