@model SITSAS.Models.SubCategoriesModel
<script>
    function NewSubCategory() {
            @Html.Raw("$.ajax({ url: '/Home/CreateUpdateSubCategory?', data: 'json', type: 'GET', data: 'IsPart=true', cache: false }).success(function (result) { $('#popUpItem').empty().append(result); }).error(function (xhr, textStatus, errorThrown) { });")
                        @Html.Raw("metroDialog.open('#popUp');")
    }
    function EditSubCategory(id) {
        @Html.Raw("$.ajax({ url: '/Home/CreateUpdateSubCategory?', data: 'json', type: 'GET', data: 'ID=' + id + '&IsPart=true', cache: false }).success(function (result) { $('#popUpItem').empty().append(result); }).error(function (xhr, textStatus, errorThrown) { });")
                    @Html.Raw("metroDialog.open('#popUp');")
    }
</script>
<h1 class="text-light">Sub Categories<span class="mif-paragraph-left place-left" style="padding-right:5px;"></span></h1>
<hr class="thin bg-grayLighter">
@if (Model.rights.CanAdd)
{
    <a class="image-button warning" onclick="NewSubCategory();"><span class="icon mif-plus"></span> Create</a>
}
<hr class="thin bg-grayLighter">
<hr class="thin bg-grayLighter">
<table class="dataTable border bordered" data-role="datatable" data-auto-width="false">
    <thead>
        <tr>
            <td style="width: 30.83%" class="sortable-column">Name</td>
            <td style="width: 30.83%" class="sortable-column">Display Name</td>
            <td style="width: 30.83%" class="sortable-column">Parent Category</td>
            <td style="width: 7.5%" class="sortable-column"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.rights.CanView)
        {
            foreach (var rCategories in Model.ExistingSubCategories)
            {
                <tr>
                    <td>@rCategories.Name</td>
                    <td>@rCategories.DisplayName</td>
                    <td>@rCategories.Category.Name</td>
                    <td>
                        @if (Model.rights.CanEdit)
                        {
                            <a class="image-button warning" onclick="EditSubCategory('@rCategories.ID');"><span class="icon mif-pencil"></span> Edit</a>
                        }
                        @*<a class="image-button alert"><span class="icon mif-bin"></span> Delete</a>*@
                    </td>
                </tr>
            }
        }


    </tbody>
</table>